/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */

grant {
  // For Spring IOC
  permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
  permission java.lang.RuntimePermission "accessDeclaredMembers";
  permission java.lang.RuntimePermission "defineClass";
  permission java.lang.RuntimePermission "getClassLoader";
  permission java.lang.RuntimePermission "accessUserInformation";
  permission java.net.NetPermission "getProxySelector";
  permission java.net.SocketPermission "*", "accept,connect,resolve";

  // ml-commons client
  permission java.lang.RuntimePermission "setContextClassLoader";

  // filesystem
  permission java.util.PropertyPermission "*", "read,write";
  permission javax.security.auth.AuthPermission "getSubject";
  permission java.security.AllPermission;

  permission org.opensearch.secure_sm.ThreadPermission "modifyArbitraryThreadGroup";
};

grant codeBase "${codebase.hadoop-common}" {
  // rest client uses system properties which gets the default proxy
  permission org.opensearch.secure_sm.ThreadPermission "modifyArbitraryThreadGroup";
  permission java.security.AllPermission;
};
